<section data-ng-controller="BookingsController" >
    <div class="col-lg-12 tp-banner-container-booking" >
        <div class="modal-dialog modal-dialog-lg col-lg-12">
            <div class="modal-content ">
                <div class="modal-header">
                    <h2 class="form-signin-heading modal-title" id="myModalLabel">{{ 'MY_BOOKINGS' |
                        translate}}</h2>
                </div>
                <div class="modal-body" ng-init="findCustomerBookings()">
                    <table >
                        <thead>
                            <tr>
                                <th class="text-center">Status</th>
                                <th class="text-center">Service Type</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Time</th>
                                <th class="text-center">Duration (hours)</th>
                                <th class="text-center">Service Provider Name</th>
                                <th class="text-center">Mobile Number</th>
                                <th class="text-center">Telephone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="schedBooking in custBooking.scheduledBookings" >
                                <td>{{ schedBooking.statusStr }}</td>
                                <td>{{ schedBooking.booking.serviceTypeStr }}</td>
                                <td>{{ schedBooking.booking.booking_date | date:'MM-dd-yyyy'}}</td>
                                <td>{{ schedBooking.booking.booking_time }}</td>
                                <td>{{ schedBooking.booking.duration }}</td>
                                <td>{{ schedBooking.service_provider.displayName }}</td>
                                <td>{{ schedBooking.service_provider.adress.mobilephone }}</td>
                                <td>{{ schedBooking.service_provider.adress.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
