<section data-ng-controller="BookingsController" >
    <div class="col-lg-12 tp-banner-container-booking">
        <div class="modal-dialog modal-dialog-lg col-lg-12">
            <div class="modal-content ">
                <div class="modal-header">
                    <h2 class="form-signin-heading modal-title" id="myModalLabel">{{ 'SERVICE_PROVIDER' |
                        translate}}</h2>
                </div>
                <div class="modal-body">
                    <div class="modal-body" ng-init="findServiceProviderBookings()">
                  		<div>
                            <button
                              class="btn btn-default"
                              mwl-date-modifier
                              date="calendarDay"
                              decrement="calendarView">
                              Previous
                            </button>

                            <button
                              class="btn btn-default"
                              mwl-date-modifier
                              date="calendarDay"
                              set-to-today>
                              Today
                            </button>

                            <button
                              class="btn btn-default"
                              mwl-date-modifier
                              date="calendarDay"
                              increment="calendarView">
                              Next
                            </button>
                			<mwl-calendar
                                view="calendarView"
                                current-day="calendarDay"
                                events="events"
                                view-title="calendarTitle"
                                on-event-click="eventClicked(calendarEvent)"
                                on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
                                delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
                                on-edit-event-click="eventEdited(calendarEvent)"
                                on-delete-event-click="eventDeleted(calendarEvent)"
                                cell-is-open="true">
                            </mwl-calendar>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
