<section data-ng-controller="PricingsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{ 'EDIT_PRICING' | translate }}</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">{{ 'NAME' | translate }}</label>
                    <div class="controls">
                        <input type="text" data-ng-model="pricing.name" id="name" class="form-control" placeholder="{{ 'NAME' | translate }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="{{ 'UPDATE' | translate }}" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{ error | translate }}</strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
