<section data-ng-controller="PricingsController" data-ng-init="find()">
    <div class="page-header">
        <h1>{{ 'PRICINGS' | translate }}</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="pricing in pricings" data-ui-sref="pricings.view({pricingId: pricing._id})" class="list-group-item">
			<small class="list-group-item-text">
				{{ 'POSTED_ON' | translate }}
				<span data-ng-bind="pricing.created | date:'medium'"></span>
				{{ 'BY' | translate }}
				<span data-ng-bind="pricing.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="pricing.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!pricings.$resolved || pricings.length">
    	{{ 'NO_PRICINGS_YET' | translate }} <a data-ui-sref="pricings.create">{{ 'CREATE_ONE' | translate }}</a>?
    </div>
</section>
