<div ng-controller="HeaderController">
    <header id="header" class="navbar navbar-default navbar-fixed-top">
        <!-- Header Top Bar -->
        <div class="top-bar">
            <div class="container">
                <div class="pull-left">
                    <ul class="social pull-left">
                        <li><a ng-click="changeLanguage('en')"><img class="lang-flags"
                                                                    src="modules/core/img/brand/Flag-of-Philippines.png"/></a>
                        </li>
                        <li><a ng-click="changeLanguage('jp')"><img class="lang-flags"
                                                                    src="modules/core/img/brand/Flag-of-Japan.png"/></a>
                        </li>
                        <li><a ng-click="changeLanguage('ko')"><img class="lang-flags"
                                                                    src="modules/core/img/brand/Flag-of-South-Korea.png"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Header Top Bar -->
        <!-- Main Header -->
        <div class="main-header top-bar">
            <div class="container ">
                <!-- Logo -->
                <div class="logo pull-left">
                    <a href="."><h1 class="header-logo"><span>KA</span>TABANG</h1></a>
                </div>
                <div class="header-login pull-right" ng-hide="authentication.user">
                    <a ui-sref="authentication.signin"><i class="fa fa-sign-in"></i>&nbsp;{{ 'LOGIN' | translate }}</a>
                    <a ui-sref="authentication.signup"><i class="fa fa-edit"></i>&nbsp;{{ 'REGISTRATION' | translate }}</a>
                </div>
                <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                    <li class="dropdown dropdown-menu-nav" dropdown>
                        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
                            <img ng-src="{{authentication.user.profileImageURL}}"
                                 alt="{{authentication.user.displayName}}" class="header-profile-image"/>
                            <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ui-sref-active="active">
                                <a ui-sref="settings.profile">{{ 'EDIT_PROFILE' | translate }}</a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="settings.picture">{{ 'CHANGE_PROFILE_PICTURE' | translate }}</a>
                            </li>
                            <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                                <a ui-sref="settings.password">{{ 'CHANGE_PASSWORD' | translate }}</a>
                            </li>
                            <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
                                <a ui-sref="settings.address">{{ 'EDIT_ADDRESS' | translate }}</a>
                            </li>
                            <li ui-sref-active="active" ng-show="authentication.user.userType === 1">
                                <a ui-sref="settings.services">{{ 'EDIT_SERVICES' | translate }}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/api/auth/signout" target="_self">{{ 'SIGNOUT' | translate }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Main Header -->
    </header>
</div>
