<div ng-controller="HeaderController">
    <!--<div class="navbar-header">-->
    <!--<button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">-->
    <!--<span class="sr-only">Toggle navigation</span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <!--<a ui-sref="home" class="navbar-brand">MEAN.JS</a>-->
    <!--</div>-->
    <!--<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">-->
    <!--<ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">-->
    <!--<li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">-->
    <!--<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>-->
    <!--<ul ng-switch-when="dropdown" class="dropdown-menu">-->
    <!--<li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">-->
    <!--<a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="authentication.signup">Sign Up</a>-->
    <!--</li>-->
    <!--<li class="divider-vertical"></li>-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="authentication.signin">Sign In</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<ul class="nav navbar-nav navbar-right" ng-show="authentication.user">-->
    <!--<li class="dropdown" dropdown>-->
    <!--<a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">-->
    <!--<img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />-->
    <!--<span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>-->
    <!--</a>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="settings.profile">Edit Profile</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="settings.picture">Change Profile Picture</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">-->
    <!--<a ui-sref="settings.password">Change Password</a>-->
    <!--</li>-->
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="settings.accounts">Manage Social Accounts</a>-->
    <!--</li>-->
    <!--<li class="divider"></li>-->
    <!--<li>-->
    <!--<a href="/api/auth/signout" target="_self">Signout</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    <header id="header" class="navbar navbar-default navbar-fixed-top">
        <!-- Header Top Bar -->
        <div class="top-bar">
            <div class="container">
                <div class="pull-left">
                    <ul class="social pull-left">
                        <li><a ng-click="changeLanguage('en')"><img class="lang-flags"
                                             src="modules/core/img/brand/Flag-of-Philippines.png"/></a></li>
                        <li><a ng-click="changeLanguage('jp')"><img class="lang-flags" src="modules/core/img/brand/Flag-of-Japan.png"/></a>
                        </li>
                        <li><a ng-click="changeLanguage('ko')"><img class="lang-flags"
                                             src="modules/core/img/brand/Flag-of-South-Korea.png"/></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Header Top Bar -->
        <!-- Main Header -->
        <div class="main-header top-bar">
            <div class="container ">
                <!-- TopNav -->

                <!-- /TopNav-->
                <!-- Logo -->
                <div class="logo pull-left">
                    <h1>Katabang
                        <!--<a href="index.html">-->
                            <!--<img class="logo-color" src="modules/core/img/brand/klogo03.jpg" alt="gallaxy" width="160"-->
                                 <!--height="60"/>atabang-->
                        <!--</a>-->
                    </h1>
                </div>
                <div class="header-login pull-right">
                    <a ui-sref="authentication.signin"><i class="fa fa-sign-in"></i>&nbsp;{{ 'LOGIN' | translate }}</a>
                    <a ui-sref="authentication.signup"><i class="fa fa-edit"></i>&nbsp;{{ 'REGISTRATION' | translate }}</a>
                </div>
                <!-- /Logo -->
                <!--&lt;!&ndash; Mobile Menu &ndash;&gt;-->
                <!--<div class="mobile navbar-header">-->
                <!--<a class="navbar-toggle" data-toggle="collapse" href="#">-->
                <!--<i class="fa fa-bars fa-2x"></i>-->
                <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; /Mobile Menu &ndash;&gt;-->
                <!--&lt;!&ndash; Menu Start &ndash;&gt;-->
                <!--<nav class="collapse navbar-collapse menu">-->
                <!--<ul class="nav navbar-nav sf-menu">-->
                <!--<li>-->
                <!--<a id="current" href="#">-->
                <!--{{ 'HEADLINE' | translate }}-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="index.html" class="sf-with-ul">Home </a></li>-->
                <!--<li><a href="index-2.html" class="sf-with-ul">Home 2</a></li>-->
                <!--<li><a href="index-shop.html" class="sf-with-ul">Home Shop</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Features-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="shortcodes.html" class="sf-with-ul">Shortcodes</a></li>-->
                <!--<li><a href="components.html" class="sf-with-ul">Components</a></li>-->
                <!--<li><a href="icons.html" class="sf-with-ul">Icons</a></li>-->
                <!--<li><a href="columns.html" class="sf-with-ul">Columns</a></li>-->
                <!--<li><a href="pricing-table.html" class="sf-with-ul">Pricing Tables</a></li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Third Level Menu-->
                <!--<span class="sf-sub-indicator pull-right">-->
                <!--<i class="fa fa-angle-right "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="#" class="sf-with-ul">Menu Item</a></li>-->
                <!--<li><a href="#" class="sf-with-ul">Menu Item</a></li>-->
                <!--<li><a href="#" class="sf-with-ul">Menu Item</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Shop-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Products-->
                <!--<span class="sf-sub-indicator pull-right">-->
                <!--<i class="fa fa-angle-right "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="shop.html" class="sf-with-ul">Products</a></li>-->
                <!--<li><a href="shop-left-sidebar.html" class="sf-with-ul">Left Sidebar Products</a></li>-->
                <!--<li><a href="shop-right-sidebar.html" class="sf-with-ul">Right Sidebar Products</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="product-view.html" class="sf-with-ul">Product View</a></li>-->
                <!--<li><a href="shoping-cart.html" class="sf-with-ul">Shoping Cart</a></li>-->
                <!--<li><a href="checkout.html" class="sf-with-ul">Proceed to Checkout</a></li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--My Account-->
                <!--<span class="sf-sub-indicator pull-right">-->
                <!--<i class="fa fa-angle-right "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="my-account.html" class="sf-with-ul">My Account</a></li>-->
                <!--<li><a href="my-account-information.html" class="sf-with-ul">My Account Information</a></li>-->
                <!--<li><a href="my-address.html" class="sf-with-ul">My Address</a></li>-->
                <!--<li><a href="my-orders.html" class="sf-with-ul">My Orders</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="confirmation.html" class="sf-with-ul">Confirmation Page</a></li>-->
                <!--<li><a href="password-recovery.html" class="sf-with-ul">Password Recovery</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Pages-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--About-->
                <!--<span class="sf-sub-indicator pull-right">-->
                <!--<i class="fa fa-angle-right"></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="about-me.html" class="sf-with-ul">About Me</a></li>-->
                <!--<li><a href="about.html" class="sf-with-ul">About Us</a></li>-->
                <!--<li><a href="about-2.html" class="sf-with-ul">About Us Option</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Services-->
                <!--<span class="sf-sub-indicator pull-right">-->
                <!--<i class="fa fa-angle-right"></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="services.html" class="sf-with-ul">Services</a></li>-->
                <!--<li><a href="services-2.html" class="sf-with-ul">Services Option</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="testimonials.html" class="sf-with-ul">Testimonials</a></li>-->
                <!--<li><a href="full-width.html" class="sf-with-ul">Full Width Page</a></li>-->
                <!--<li><a href="page-left-sidebar.html" class="sf-with-ul">Left Sidebar</a></li>-->
                <!--<li><a href="page-right-sidebar.html" class="sf-with-ul">Right Sidebar</a></li>-->
                <!--<li><a href="page-left-navigation.html" class="sf-with-ul">Left Navigation</a></li>-->
                <!--<li><a href="page-right-navigation.html" class="sf-with-ul">Right Navigation</a></li>-->
                <!--<li><a href="page-login.html" class="sf-with-ul">Login / Register</a></li>-->
                <!--<li><a href="page-coming-soon.html" class="sf-with-ul">Coming Soon</a></li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--FAQ-->
                <!--<span class="sf-sub-indicator pull-right">-->
                <!--<i class="fa fa-angle-right "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="faq.html" class="sf-with-ul">FAQ</a></li>-->
                <!--<li><a href="faq-2.html" class="sf-with-ul">FAQ Option</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="page-404.html" class="sf-with-ul">404 Page</a></li>-->
                <!--<li><a href="sitemap.html" class="sf-with-ul">Sitemap</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Portfolio-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="portfolio-two.html" class="sf-with-ul">2 Column</a></li>-->
                <!--<li><a href="portfolio-three.html" class="sf-with-ul">3 Column</a></li>-->
                <!--<li><a href="portfolio-four.html" class="sf-with-ul">4 Column</a></li>-->
                <!--<li><a href="portfolio-full-width.html" class="sf-with-ul">Full Width</a></li>-->
                <!--<li><a href="portfolio-single.html" class="sf-with-ul">Single Item Page</a></li>-->
                <!--<li><a href="portfolio-single-big.html" class="sf-with-ul">Single Large Item Page</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#" class="sf-with-ul">-->
                <!--Blog-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down "></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="blog-left-sidebar.html" class="sf-with-ul">Left Sidebar Blog</a></li>-->
                <!--<li><a href="blog-right-sidebar.html" class="sf-with-ul">Right Sidebar Blog</a></li>-->
                <!--<li><a href="blog-full-width.html" class="sf-with-ul">Blog Full Width</a></li>-->
                <!--<li><a href="single-post.html" class="sf-with-ul">Single Post</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a href="#">-->
                <!--Contact-->
                <!--<span class="sf-sub-indicator">-->
                <!--<i class="fa fa-angle-down"></i>-->
                <!--</span>-->
                <!--</a>-->
                <!--<ul>-->
                <!--<li><a href="contact.html" class="sf-with-ul">Contact</a></li>-->
                <!--<li><a href="contact-2.html" class="sf-with-ul">Contact Option</a></li>-->
                <!--<li><a href="contact-3.html" class="sf-with-ul">Contact Option 2</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</nav>-->
                <!--&lt;!&ndash; /Menu &ndash;&gt;-->
            </div>
        </div>
        <!-- /Main Header -->
    </header>
</div>
