<section data-ng-controller="HomeController">
  <!--<div class="jumbotron text-center">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
        <!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />-->
      <!--</div>-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="row">-->
      <!--<p class="lead">-->
        <!--Open-Source Full-Stack Solution For MEAN Applications-->
      <!--</p>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<p>-->
        <!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div>-->
    <!--<h2>Congrats! You've configured and run the sample application.</h2>-->
    <!--<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>-->
    <!--<p>This sample application tracks users and articles.</p>-->
    <!--<ul>-->
      <!--<li>-->
        <!--Click-->
        <!--<em>Signup</em> to get started.-->
      <!--</li>-->
      <!--<li>-->
        <!--Configure your app to work with your social accounts, by editing the-->
        <!--<em>/config/env/*.js</em> files.-->
      <!--</li>-->
      <!--<li>-->
        <!--Edit your users module.-->
      <!--</li>-->
      <!--<li>-->
        <!--Add new CRUD modules.-->
      <!--</li>-->
      <!--<li>-->
        <!--Have fun...-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-md-3">-->
      <!--<h2><strong>M</strong>ongoDB</h2>-->
      <!--<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
      <!--<h2><strong>E</strong>xpress</h2>-->
      <!--<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
      <!--<h2><strong>A</strong>ngularJS</h2>-->
      <!--<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
      <!--<h2><strong>N</strong>ode.js</h2>-->
      <!--<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="well">-->
    <!--<h2>MEAN.JS Documentation</h2>-->
    <!--<p>-->
      <!--Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:-->
      <!--<ul>-->
        <!--<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>-->
        <!--</li>-->
        <!--&lt;!&ndash; <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>-->
				<!--</li> &ndash;&gt;-->
        <!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>-->
        <!--</li>-->
        <!--<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>-->
        <!--</li>-->
        <!--<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>-->
        <!--</li>-->
        <!--<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</p>-->
  <!--</div>-->
  <!--<br>Enjoy &amp; Keep Us Updated,-->
  <!--<br>The MEAN.JS Team.-->

  <div class="mainbody">

    <!-- START OF BOOKING FORM -->
    <form id="mainbkgform" action="signin.html" method="post" autocomplete="off">
      <!-- SERVERSIDE: Need 2 actions for this form, first to post to database, and second to go to signin.html-->
      <label for="bkgservtype">Book a Service Now!</label><br/>
      <select id="bkgservtype" name="bkgservtype" required>
        <option value="House Cleaner" selected="selected">House Cleaner</option>
        <option value="Laundry /Press">Laundry /Press</option>
        <option value="Caretaker (Oldsitter)">Caretaker (Oldsitter)</option>
        <option value="Caretaker (Babysitter)">Caretaker (Babysitter)</option>
        <option value="Plumber">Plumber</option>
        <option value="Aircon Cleaner">Aircon Cleaner</option>
        <option value="House Fixtures /Installer">House Fixtures /Installer</option>
        <option value="Gardener">Gardener</option>
        <option value="Handyman">Handyman</option>
      </select><br/>
      <label for="bkgloc">Where</label><br/>
      <select id="bkgloc" name="bkgloc" required>
        <!-- <option value="" disable selected>Please Select</option>-->
        <option value=""></option>
        <option value="Cebu City">Cebu City</option>
        <option value="Mandaue">Mandaue</option>
        <option value="Lapu-lapu">Lapu-lapu</option>
        <option value="Talisay">Talisay</option>
        <option value="Manila-Pasay">Manila-Pasay</option>
        <option value="Makati">Makati</option>
        <option value="Ortigas-Taguig">Ortigas-Taguig</option>
        <option value="Quezon City">Quezon City</option>
        <option value="Tokyo">Tokyo</option>
        <option value="Seoul">Seoul</option>
        <option value="Suwon">Suwon</option>
        <option value="Busan">Busan</option>
      </select><br/>
      <label for="bkgdate">Date</label><br/>
      <input type="date" name="bkgdate" id="dateinput" min="valdatebk" step="1" required><br/>
      <label for="bkgtimestart">Preferred Time</label><br/>
      <select id="bkgtimestart" name="bkgtimestart" required>
        <!--<option value="" disable selected>Please Select</option>-->
        <option value=""></option>
        <option value="8AM">8AM</option>
        <option value="9AM">9AM</option>
        <option value="10AM">10AM</option>
        <option value="1PM">1PM</option>
        <option value="2PM">2PM</option>
        <option value="3PM">3PM</option>
        <option value="6PM">6PM</option>
        <option value="7PM">7PM</option>
      </select><br/>
      <h6>- We recommend 4 hours each booking -</h6>
      <div class="booknowbutton">
        <input type="submit" name="submitbooking" value="Book Now"/>
      </div>
    </form>
    <!-- END OF BOOKING FORM -->
    <div class="maingraphic">
      <img src="modules/core/img/brand/ktbmainpic2.jpg" alt="Katabang"/>
    </div>
    <div id="faqband">
      <h2><a href="FAQ.html">FAQ: How Does It Work?</a></h2>
    </div>
    <div id="socialmediaband">
      <ul>
        <li><a href="#"><img src="modules/core/img/brand/googleplus40x40.png" alt="Google Plus"/></a></li>
        <li><a href="#"><img src="modules/core/img/brand/facebook40x40.png" alt="Facebook"/></a></li>
        <li><a href="mailto:support@katabang.com"><img src="modules/core/img/brand/email40x40.png" alt="Email"/></a></li>
      </ul>
    </div>
    <div class="serviceband1">
      <ul>
        <li><a href="signin.html">HOUSE CLEANER</a></li>
        <li><a href="signin.html">LAUNDRY/PRESS</a></li>
        <li><a href="signin.html">CARETAKER (OLDSITTER)</a></li>
        <li><a href="signin.html">CARETAKER (BABYSITTER)</a></li>
        <li><a href="signin.html">PLUMBER</a></li>
      </ul>
    </div>
    <div class="stepstitle">
      <h1><span>KA</span>TABANG in 3 Easy Steps</h1>
    </div>
    <div class="steps123">
      <div class="step">
        <img src="modules/core/img/brand/step1.jpg" alt="step 1"/>
        <p>Choose Service, Select Date and Time</p>
      </div>
      <div class="arrow">
        <img src="modules/core/img/brand/arrow1.png" alt="next step"/>
      </div>
      <div class="step">
        <img src="modules/core/img/brand/step2.jpg" alt="step 2"/>
        <p>We will Confirm Booking and Take Care of Payment Securely</p>
      </div>
      <div class="arrow">
        <img src="modules/core/img/brand/arrow1.png" alt="next step"/>
      </div>
      <div class="step">
        <img src="modules/core/img/brand/step3.jpg" alt="step 3"/>
        <p>Experience the Best of your very own Katabang professional</p>
      </div>
    </div>
    <div class="maingraphic2">
      <img src="modules/core/img/brand/tea1.jpg" alt="domestic services"/>
    </div>
    <div class="serviceband2">
      <ul>
        <li><a href="signin.html">AIRCON CLEANER</a></li>
        <li><a href="signin.html">GARDENER</a></li>
        <li><a href="signin.html">HOUSE FIXTURES/INSTALLER</a></li>
        <li><a href="signin.html">HANDYMAN</a></li>
        <li><a href="signin.html">MORE</a></li>
      </ul>
    </div>
  </div>
  <!-- END OF MAIN BODY -->
  <!-- START OF SUBBODY CONTENTS -->
  <div class="subbodycontent">
    <div class="subbodyheadline">
      <h2>YOU ARE THE HERO</h2>
      <h2>IN THIS STORY</h2>
    </div>
    <div class="subcontent">
      <div class="contentbox">
        <img src="modules/core/img/brand/icon1.png" alt="We Help You"/>
        <h3>We Help You</h3>
        <p>We provide a platform where you, who needs domestic services easily meets those who can provide them, locally, reliably, securely and at the best cost possible.  We enable you to meet your needs without long-term commitment, and with the convenience of following your own schedules.</p>
      </div>
      <div class="contentbox">
        <img src="modules/core/img/brand/icon2.png" alt="Help Yourself"/>
        <h3>Help Yourself</h3>
        <p>If your circumstances do not allow you to live with the help nor be committed long-term, katabang.com is for you. Designed for life on-the-go, and for your added privacy. We are here to help you.</p>
      </div>
      <div class="contentbox">
        <img src="modules/core/img/brand/icon3.png" alt="And Help Others"/>
        <h3>And Help Others</h3>
        <p>Help yourself by helping others. Katabang is a win-win  platform which strives to fill the gap in domestic service requirements, while at the same time giving opportunities for those who are underemployed to earn decently while still being able to take care of their families and live their lives. As a Katabang customer, you are helping people and contributing to the goodness in this world.</p>
      </div>
    </div>
    <!-- APP LINKS -->
    <div id="appslinks">
      <h3>BOOK NOW OR CALL US TO LEARN MORE</h3>
      <h4>GO MOBILE. DOWNLOAD THE APPS.</h4>
      <ul>
        <li><a href="#"><img src="modules/core/img/brand/app-appstore1.png" alt="Apple Appstore"/></a></li>
        <li><a href="#"><img src="modules/core/img/brand/app-googleplay1.png" alt="Google Play"/></a></li>
      </ul>
    </div>
  </div>
  <!-- END OF SUBBODY CONTENTS -->
</section>
