<section id="main" data-ng-controller="HomeController">
    <div class="tp-banner-container row">
        <div class="container">
            <div class="main-container pull-left"></div>
            <div class="modal-dialog pull-right book-now">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="form-signin-heading modal-title" id="myModalLabel">{{ 'BOOK_SERVICE_FORM_TITLE' |
                            translate}}</h2>
                    </div>
                    <form name="bookingform" action="signin.html" method="post"
                          class="col-lg5 ">
                        <div class="modal-body">
                            <label for="bkgservtype" class="control-label">{{ 'SELECT_A_SERVICE' | translate }}</label>
                            <select id="bkgservtype" class="form-control">
                                <option>{{ 'PLEASE_SELECT' | translate }}</option>
                                <option data-ng-repeat="srv in services">{{srv.name}}</option>
                            </select>
                            <label for="bkgloc" class="control-label">{{ 'WHERE' | translate }}</label>
                            <select id="bkgloc" class="form-control">
                                <option>{{ 'PLEASE_SELECT' | translate }}</option>
                                <option data-ng-repeat="loc in locations">{{loc.name}}</option>
                            </select>
                            <label for="dateinput" class="control-label">{{ 'DATE' | translate }}</label>
                            <input type="date" id="dateinput" class="form-control"/>
                            <label for="bkgtimestart" class="control-label">{{ 'PREFERRED_TIME' | translate }}</label>
                            <select id="bkgtimestart" class="form-control">
                                <option>{{ 'PLEASE_SELECT' | translate }}</option>
                                <option data-ng-repeat="prefTime in preferredtimes">{{prefTime.name}}</option>
                            </select>
                            <div class="booknowbutton text-center">
                                <h4>{{ 'RECOMMEND_4HOURS' | translate }}</h4>
                                <input type="submit" name="submitbooking" class="btn btn-color btn-lg btn-block"
                                       value="Book Now"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Slider -->
    <!-- Product Content -->
    <div class="product-lead bottom-pad">
        <div class="pattern-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight">
                        <div class="app-service padding-bottom50">
                            <h1 class="light text-center">{{ 'KATABANG_IN_3_STEPS' | translate}}</h1>

                            <div class="text-center col-lg-12">
                                <div class="col-lg-offset-1  col-lg-3 col-md-4 col-sm-4-">
                                    <img class="steps" src="modules/core/img/brand/step1.png" alt="step 1"></img>

                                    <h2>{{ 'STEP1_NOTE' | translate}}</h2>
                                </div>
                                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
                                    <img class="arrow-steps" src="modules/core/img/brand/arrow-right.png"
                                         alt="next step"/>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <img class="steps" src="modules/core/img/brand/step2.png" alt="step 2"/>

                                    <h2>{{ 'STEP2_NOTE' | translate}}</h2>
                                </div>
                                <div class="col-lg-1 col-md-1 hidden-sm  hidden-xs">
                                    <img class="arrow-steps" src="modules/core/img/brand/arrow-right.png"
                                         alt="next step"/>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-4">
                                    <img class="steps" src="modules/core/img/brand/step3.png" alt="step 3"/>

                                    <h2>{{ 'STEP3_NOTE' | translate}}</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Product Content -->
    <!-- Main Content -->
    <div class="main-content">
        <div class="container">
            <div class="row text-center hero_title">
                <h2>{{ 'HERO_TITLE' | translate }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-back">
                                    <img src="modules/core/img/brand/icon1.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{{ 'WE_HELP_YOU' | translate }}</h3>

                            <p>{{ 'HELP_YOU_NOTE' | translate }}</p>
                            <!--<a href="#">{{ 'READ_MORE' | translate }} <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>-->
                        </div>
                        <!--<div class="border-bottom margin-top30">-->
                        <!--</div>-->
                        <!--<div class="border-bottom">-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                    <div class="content-box big ch-item bottom-pad-small">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-back">
                                    <img src="modules/core/img/brand/icon2.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{{ 'HELP_URSELF' | translate }}</h3>

                            <p>{{ 'HELP_URSELF_NOTE' | translate }}</p>
                            <!--<a href="#">{{ 'READ_MORE' | translate }}<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>-->
                        </div>
                        <!--<div class="border-bottom margin-top30">-->
                        <!--</div>-->
                        <!--<div class="border-bottom">-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeIn">
                    <div class="content-box big ch-item">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-back">
                                    <img src="modules/core/img/brand/icon3.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="content-box-info">
                            <h3>{{ 'AND_HELP_OTHERS' | translate }}</h3>

                            <p>{{ 'HELP_OTHERS_NOTE' | translate }}</p>
                            <!--<a href="#">{{ 'READ_MORE' | translate }} <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>-->
                        </div>
                        <!--<div class="border-bottom margin-top30">-->
                        <!--</div>-->
                        <!--<div class="border-bottom">-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Content -->

    <!--&lt;!&ndash; Portfolio Work &ndash;&gt;-->
    <!--<div class="portfolio bottom-pad margin-top100">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="portfolio-content">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="portfolio-title text-center">-->
    <!--<h2 class="wow fadeIn">Creative Portfolio Showcasse</h2>-->
    <!--<h4 class="wow fadeInRight">-->
    <!--Gallaxy provides you to show your portfolio contents in beautiful layout. <br/>-->
    <!--Make a cool and colorful showcase for your site...-->
    <!--</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 portfolio-three-column wow fadeInUp">-->
    <!--<div class="grid">-->
    <!--&lt;!&ndash; Item 1 &ndash;&gt;-->
    <!--<figure class="effect-zoe portfolio-border web jquery item">-->
    <!--<a href="img/portfolio/01.jpg" class="portfolio-item-link" data-rel="prettyPhoto"><img-->
    <!--src="img/portfolio/01.jpg" alt="img1"/></a>-->
    <!--<figcaption>-->
    <!--<h2>Creative <span>Zoe</span></h2>-->
    <!--<span><a href="portfolio-single.html"><i class="fa fa-share"></i></a></span>-->
    <!--<span><a href="img/portfolio/01.jpg" class="portfolio-item-link"-->
    <!--data-rel="prettyPhoto"><i class="fa fa-paperclip"></i></a></span>-->
    <!--<span><a href="#"><i class="fa fa-heart"></i></a></span>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--&lt;!&ndash; /Item 1 &ndash;&gt;-->
    <!--&lt;!&ndash; Item 2 &ndash;&gt;-->
    <!--<figure class="effect-zoe portfolio-border wp css item">-->
    <!--<a href="img/portfolio/02.jpg" class="portfolio-item-link" data-rel="prettyPhoto"><img-->
    <!--src="img/portfolio/02.jpg" alt="img2"/></a>-->
    <!--<figcaption>-->
    <!--<h2>Marchant <span>Mogul</span></h2>-->
    <!--<span><a href="portfolio-single.html"><i class="fa fa-share"></i></a></span>-->
    <!--<span><a href="img/portfolio/02.jpg" class="portfolio-item-link"-->
    <!--data-rel="prettyPhoto"><i class="fa fa-paperclip"></i></a></span>-->
    <!--<span><a href="#"><i class="fa fa-heart"></i></a></span>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--&lt;!&ndash; /Item 2 &ndash;&gt;-->
    <!--&lt;!&ndash; Item 3 &ndash;&gt;-->
    <!--<figure class="effect-zoe portfolio-border php jquery wp item">-->
    <!--<a href="img/portfolio/03.jpg" class="portfolio-item-link" data-rel="prettyPhoto"><img-->
    <!--src="img/portfolio/03.jpg" alt="img3"/></a>-->
    <!--<figcaption>-->
    <!--<h2>Pedaling <span>Tavern</span></h2>-->
    <!--<span><a href="portfolio-single.html"><i class="fa fa-share"></i></a></span>-->
    <!--<span><a href="img/portfolio/03.jpg" class="portfolio-item-link"-->
    <!--data-rel="prettyPhoto"><i class="fa fa-paperclip"></i></a></span>-->
    <!--<span><a href="#"><i class="fa fa-heart"></i></a></span>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--&lt;!&ndash; /Item 3 &ndash;&gt;-->
    <!--&lt;!&ndash; Item 4 &ndash;&gt;-->
    <!--<figure class="effect-zoe portfolio-border wp jquery css item">-->
    <!--<a href="img/portfolio/04.jpg" class="portfolio-item-link" data-rel="prettyPhoto"><img-->
    <!--src="img/portfolio/04.jpg" alt="img4"/></a>-->
    <!--<figcaption>-->
    <!--<h2>Create <span>Smart</span></h2>-->
    <!--<span><a href="portfolio-single.html"><i class="fa fa-share"></i></a></span>-->
    <!--<span><a href="img/portfolio/04.jpg" class="portfolio-item-link"-->
    <!--data-rel="prettyPhoto"><i class="fa fa-paperclip"></i></a></span>-->
    <!--<span><a href="#"><i class="fa fa-heart"></i></a></span>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--&lt;!&ndash; /Item 4 &ndash;&gt;-->
    <!--&lt;!&ndash; Item 5 &ndash;&gt;-->
    <!--<figure class="effect-zoe portfolio-border web css wp item">-->
    <!--<a href="img/portfolio/05.jpg" class="portfolio-item-link" data-rel="prettyPhoto"><img-->
    <!--src="img/portfolio/05.jpg" alt="img5"/></a>-->
    <!--<figcaption>-->
    <!--<h2>Back to <span>Zen</span></h2>-->
    <!--<span><a href="portfolio-single.html"><i class="fa fa-share"></i></a></span>-->
    <!--<span><a href="img/portfolio/05.jpg" class="portfolio-item-link"-->
    <!--data-rel="prettyPhoto"><i class="fa fa-paperclip"></i></a></span>-->
    <!--<span><a href="#"><i class="fa fa-heart"></i></a></span>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--&lt;!&ndash; /Item 5 &ndash;&gt;-->
    <!--&lt;!&ndash; Item 6 &ndash;&gt;-->
    <!--<figure class="effect-zoe portfolio-border web php item">-->
    <!--<a href="img/portfolio/06.jpg" class="portfolio-item-link" data-rel="prettyPhoto"><img-->
    <!--src="img/portfolio/06.jpg" alt="img6"/></a>-->
    <!--<figcaption>-->
    <!--<h2>Dynamic <span>Wins</span></h2>-->
    <!--<span><a href="portfolio-single.html"><i class="fa fa-share"></i></a></span>-->
    <!--<span><a href="img/portfolio/06.jpg" class="portfolio-item-link"-->
    <!--data-rel="prettyPhoto"><i class="fa fa-paperclip"></i></a></span>-->
    <!--<span><a href="#"><i class="fa fa-heart"></i></a></span>-->

    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
    <!--</figcaption>-->
    <!--</figure>-->
    <!--&lt;!&ndash; /Item 6 &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /grid &ndash;&gt;-->
    <!--</div>-->
    <!--<div class="clearfix">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Portfolio work &ndash;&gt;-->
    <!--&lt;!&ndash; Services &ndash;&gt;-->
    <!--<div id="services" class="margin-top80">-->
    <!--<div class="pattern-overlay">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="padding-top40 text-center">-->
    <!--<h2 class="light wow fadeIn">Other Services We Provide</h2>-->
    <!--<h4 class="light wow fadeInRight">-->
    <!--We have a strong team of web design, email marketing and corporate solution.Feel free to-->
    <!--get a free quote!!!-->
    <!--</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-4 col-md-4 col-sm-4 text-center wow fadeInLeft">-->
    <!--<div class="service-box padding-top30 padding-bottom40">-->
    <!--<div class="service-box-icon">-->
    <!--<a href="#"><img alt="Web Design" src="img/icons/web-design.png"></a>-->
    <!--</div>-->
    <!--<div class="service-box-info">-->
    <!--<a href="#">-->
    <!--<h3 class="padding-top25">Web Design</h3>-->
    <!--</a>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of Lorem the printing and typesettings industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-4 col-md-4 col-sm-4 text-center wow fadeInUp">-->
    <!--<div class="service-box padding-top30 padding-bottom40">-->
    <!--<div class="service-box-icon">-->
    <!--<a href="#"><img alt="Email Marketing" src="img/icons/email-marketing.png"></a>-->
    <!--</div>-->
    <!--<div class="service-box-info">-->
    <!--<a href="#">-->
    <!--<h3 class="padding-top25">Email Marketing</h3>-->
    <!--</a>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of Lorem the printing and typesettings industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-4 col-md-4 col-sm-4 text-center wow fadeInRight">-->
    <!--<div class="service-box padding-top30 padding-bottom40">-->
    <!--<div class="service-box-icon">-->
    <!--<a href="#"><img alt="Corportate Solutions" src="img/icons/corporate-solutions.png"></a>-->
    <!--</div>-->
    <!--<div class="service-box-info">-->
    <!--<a href="#">-->
    <!--<h3 class="padding-top25">Corporate Solutions</h3>-->
    <!--</a>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of Lorem the printing and typesettings industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Services &ndash;&gt;-->
    <!--&lt;!&ndash; Testimonials &ndash;&gt;-->
    <!--<div id="testimonials" class="padding-top100">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="text-center">-->
    <!--<h2 class="wow fadeIn">What Clients Say About Us</h2>-->
    <!--<h4 class="wow fadeInRight">We have a lot of clients over the world. Checout their feedback and-->
    <!--comments about us.</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInRight">-->
    <!--&lt;!&ndash; Testimonials Widget &ndash;&gt;-->
    <!--<div class="row margin-top25">-->
    <!--<div class="testimonials widget">-->
    <!--<div class="clearfix"></div>-->
    <!--<div id="testimonials-carousel" class="testimonials-carousel carousel slide">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="testimonial item">-->
    <!--<p>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam-->
    <!--necessitatibus magni nulla tempore ad deserunt vero dolor? Minus-->
    <!--aspernatur adipisci quam nam, animi eveniet quos ab, necessitatibus-->
    <!--iusto, molestias eligendi!-->
    <!--</p>-->

    <!--<div class="testimonials-arrow"></div>-->
    <!--<div class="author">-->
    <!--<div class="testimonial-image ">-->
    <!--<img alt="" src="img/testimonial/team-member-1.jpg">-->
    <!--</div>-->
    <!--<div class="testimonial-author-info">-->
    <!--<a href="#"><span class="color">Monica Sing</span></a> FIFO-->
    <!--Themes-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="testimonial item">-->
    <!--<p>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur-->
    <!--quas animi placeat consequatur dicta repudiandae voluptatum ut,-->
    <!--iusto qui. Natus suscipit nemo officiis quo dignissimos laudantium,-->
    <!--deleniti expedita eveniet. Expedita?-->
    <!--</p>-->

    <!--<div class="testimonials-arrow"></div>-->
    <!--<div class="author">-->
    <!--<div class="testimonial-image ">-->
    <!--<img alt="" src="img/testimonial/team-member-2.jpg">-->
    <!--</div>-->
    <!--<div class="testimonial-author-info">-->
    <!--<a href="#"><span class="color">Monzurul Haque</span></a> FIFO-->
    <!--Themes-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="testimonial item">-->
    <!--<p>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam-->
    <!--ducimus eaque blanditiis quas! Error nam ad facilis mollitia cum-->
    <!--aliquid, optio voluptates a doloremque, earum tempore iste! Autem,-->
    <!--vel, ipsam.-->
    <!--</p>-->

    <!--<div class="testimonials-arrow"></div>-->
    <!--<div class="author">-->
    <!--<div class="testimonial-image ">-->
    <!--<img alt="" src="img/testimonial/team-member-3.jpg">-->
    <!--</div>-->
    <!--<div class="testimonial-author-info">-->
    <!--<a href="#"><span class="color">Carol Johansen</span></a> FIFO-->
    <!--Themes-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Testimonials Widget &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Testimonials &ndash;&gt;-->
    <!--&lt;!&ndash; Random Facts &ndash;&gt;-->
    <!--<div id="random-facts" class=" margin-top70">-->
    <!--<div class="pattern-overlay">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="padding-top60 text-center">-->
    <!--<h2 class="light wow fadeIn">Some Random Facts</h2>-->
    <!--<h4 class="light wow fadeInRight">-->
    <!--Find what is going around us. You can see some real stats here!-->
    <!--</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">-->
    <!--<div class="random-box padding-top30 padding-bottom40">-->
    <!--<div class="random-box-icon">-->
    <!--<i class="fa fa-coffee"></i>-->
    <!--</div>-->
    <!--<div class="random-box-info">-->
    <!--<span class="facts" data-from="0" data-to="101" data-speed="5000"-->
    <!--data-refresh-interval="50"></span>-->

    <!--<p>-->
    <!--COFFEES-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">-->
    <!--<div class="random-box padding-top30 padding-bottom40">-->
    <!--<div class="random-box-icon">-->
    <!--<i class="fa fa-briefcase"></i>-->
    <!--</div>-->
    <!--<div class="random-box-info">-->
    <!--<span class="facts" data-from="0" data-to="299" data-speed="5000"-->
    <!--data-refresh-interval="50"></span>-->

    <!--<p>-->
    <!--PROJECTS-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">-->
    <!--<div class="random-box padding-top30 padding-bottom40">-->
    <!--<div class="random-box-icon">-->
    <!--<i class="fa fa-user"></i>-->
    <!--</div>-->
    <!--<div class="random-box-info">-->
    <!--<span class="facts" data-from="0" data-to="175" data-speed="5000"-->
    <!--data-refresh-interval="50"></span>-->

    <!--<p>-->
    <!--CLIENTS-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow fadeIn">-->
    <!--<div class="random-box padding-top30 padding-bottom40">-->
    <!--<div class="random-box-icon">-->
    <!--<i class="fa fa-gift"></i>-->
    <!--</div>-->
    <!--<div class="random-box-info">-->
    <!--<span class="facts" data-from="0" data-to="50" data-speed="5000"-->
    <!--data-refresh-interval="50"></span>-->

    <!--<p>-->
    <!--AWARDS-->
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Random Facts &ndash;&gt;-->
    <!--&lt;!&ndash; Latest Posts &ndash;&gt;-->
    <!--<div id="latest-posts" class=" margin-top100">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-12 col-md-12 text-center">-->
    <!--<h2 class="wow fadeIn">Latest Posts</h2>-->
    <!--<h4 class="wow fadeInRight">We regularly post updates on our blog. Feel free to join with our-->
    <!--blog!</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="padding-top40">-->
    <!--&lt;!&ndash; post item &ndash;&gt;-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 post-item wow fadeInUp">-->
    <!--<div class="post-img">-->
    <!--<a href="single-post.html"><img alt="" src="img/blog/01.jpg"></a>-->
    <!--</div>-->
    <!--<div class="post-content blog-post-content">-->
    <!--<h4><a href="single-post.html">Praesentium minima</a></h4>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="meta post-meta">-->
    <!--<div class="post-date post-meta-content">-->
    <!--<i title="12 May 2014" class="fa fa-clock-o"></i>-->
    <!--</div>-->
    <!--<div class="post-comment post-meta-content">-->
    <!--<a title="Comments" href="#"><i class="fa fa-comment-o"></i> 15</a>-->
    <!--</div>-->
    <!--<div class="post-like  post-meta-content">-->
    <!--<a title="Likes" href="#"><i class="fa fa-heart"></i> 20</a>-->
    <!--</div>-->
    <!--<div class="post-link post-meta-content">-->
    <!--<a title="Read More" class="post-meta-link" href="#">...</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /post item &ndash;&gt;-->
    <!--&lt;!&ndash; post item &ndash;&gt;-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 post-item wow fadeInUp">-->
    <!--<div class="post-img">-->
    <!--<a href="single-post.html"><img alt="" src="img/blog/02.jpg"></a>-->
    <!--</div>-->
    <!--<div class="post-content blog-post-content">-->
    <!--<h4><a href="single-post.html">Quisquam maiores</a></h4>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="meta post-meta">-->
    <!--<div class="post-date post-meta-content">-->
    <!--<i title="12 May 2014" class="fa fa-clock-o"></i>-->
    <!--</div>-->
    <!--<div class="post-comment post-meta-content">-->
    <!--<a title="Comments" href="#"><i class="fa fa-comment-o"></i> 15</a>-->
    <!--</div>-->
    <!--<div class="post-like  post-meta-content">-->
    <!--<a title="Likes" href="#"><i class="fa fa-heart"></i> 20</a>-->
    <!--</div>-->
    <!--<div class="post-link post-meta-content">-->
    <!--<a title="Read More" class="post-meta-link" href="#">...</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /post item &ndash;&gt;-->
    <!--&lt;!&ndash; post item &ndash;&gt;-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 post-item wow fadeInUp">-->
    <!--<div class="post-img">-->
    <!--<a href="single-post.html"><img alt="" src="img/blog/03.jpg"></a>-->
    <!--</div>-->
    <!--<div class="post-content blog-post-content">-->
    <!--<h4><a href="single-post.html">Ipsam inventores</a></h4>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="meta post-meta">-->
    <!--<div class="post-date post-meta-content">-->
    <!--<i title="12 May 2014" class="fa fa-clock-o"></i>-->
    <!--</div>-->
    <!--<div class="post-comment post-meta-content">-->
    <!--<a title="Comments" href="#"><i class="fa fa-comment-o"></i> 15</a>-->
    <!--</div>-->
    <!--<div class="post-like  post-meta-content">-->
    <!--<a title="Likes" href="#"><i class="fa fa-heart"></i> 20</a>-->
    <!--</div>-->
    <!--<div class="post-link post-meta-content">-->
    <!--<a title="Read More" class="post-meta-link" href="#">...</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /post item &ndash;&gt;-->
    <!--&lt;!&ndash; post item &ndash;&gt;-->
    <!--<div class="col-lg-3 col-md-3 col-sm-6 post-item wow fadeInUp">-->
    <!--<div class="post-img">-->
    <!--<a href="single-post.html"><img alt="" src="img/blog/04.jpg"></a>-->
    <!--</div>-->
    <!--<div class="post-content blog-post-content">-->
    <!--<h4><a href="single-post.html">Labore consequuntur</a></h4>-->

    <!--<p>-->
    <!--Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
    <!--</p>-->
    <!--</div>-->
    <!--<div class="meta post-meta">-->
    <!--<div class="post-date post-meta-content">-->
    <!--<i title="12 May 2014" class="fa fa-clock-o"></i>-->
    <!--</div>-->
    <!--<div class="post-comment post-meta-content">-->
    <!--<a title="Comments" href="#"><i class="fa fa-comment-o"></i> 15</a>-->
    <!--</div>-->
    <!--<div class="post-like  post-meta-content">-->
    <!--<a title="Likes" href="#"><i class="fa fa-heart"></i> 20</a>-->
    <!--</div>-->
    <!--<div class="post-link post-meta-content">-->
    <!--<a title="Read More" class="post-meta-link" href="#">...</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /post item &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Latest Posts &ndash;&gt;-->
    <!--&lt;!&ndash; Slogan &ndash;&gt;-->
    <!--<div class="slogan margin-top100 bottom-pad-small">-->
    <!--<div class="pattern-overlay">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="slogan-content">-->
    <!--<div class="col-lg-10 col-md-10 wow fadeInLeft">-->
    <!--<h2 class="slogan-title">Found a reason to work with us? Lets's start!</h2>-->
    <!--</div>-->
    <!--<div class="col-lg-2 col-md-2 wow fadeInRight">-->
    <!--<div class="get-started wow fadeIn">-->
    <!--<a href="#" class="btn-special btn-grey pull-right">BUY NOW</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Slogan &ndash;&gt;-->
    <!--&lt;!&ndash; Our Clients &ndash;&gt;-->
    <!--<div class="our-clients">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="client">-->
    <!--<div class="client-logo">-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="text-center">-->
    <!--<h2 class="wow fadeIn">Our Clients</h2>-->
    <!--<h4 class="wow fadeInRight">-->
    <!--See some of our satisfied clients over the world.-->
    <!--</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <!--<div class="clearfix"></div>-->
    <!--<div class="row text-center padding-top40">-->
    <!--<div id="client-carousel" class="client-carousel carousel slide">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item active">-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item wow fadeIn">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/01.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item wow fadeIn">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/02.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item wow fadeIn">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/03.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item wow fadeIn">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/04.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/04.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/03.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/02.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 item">-->
    <!--<div class="item-inner"><a href="#"><img alt="Upportdash"-->
    <!--src="img/clientslogo/01.png"></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInUp">-->
    <!--<div class="clients-title">-->
    <!--<h3 class="title">&nbsp;</h3>-->

    <!--<div class="carousel-controls pull-right">-->
    <!--<a class="prev" href="#client-carousel" data-slide="prev"><i-->
    <!--class="fa fa-angle-left"></i></a>-->
    <!--<a class="next" href="#client-carousel" data-slide="next"><i-->
    <!--class="fa fa-angle-right"></i></a>-->

    <!--<div class="clearfix"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Our Clients &ndash;&gt;-->


</section>
