<div class="modal-body">
    <label for="bkgservtype" class="control-label">{{ 'SELECT_A_SERVICE' | translate }}</label>
    <select id="bkgservtype" class="form-control" data-ng-model="$parent.booking.serviceType">
        <option value="0" ng-selected="($parent.booking.serviceType || 0) == 0">{{ 'PLEASE_SELECT' | translate }}
        </option>
        <option value="1" ng-selected="$parent.booking.serviceType == 1">{{ 'SERVICES.HOUSE_CLEANER' | translate }}
        </option>
        <option value="2" disabled ng-selected="$parent.booking.serviceType == 2">{{ 'SERVICES.LAUNDRY_PRESS' | translate }}
        </option>
        <option value="3" disabled ng-selected="$parent.booking.serviceType == 3">{{ 'SERVICES.CARETAKER_OLDSITTER' | translate
            }}
        </option>
        <option value="4" disabled ng-selected="$parent.booking.serviceType == 4">{{ 'SERVICES.CARETAKER_BABYSITTER' | translate
            }}
        </option>
        <option value="5" disabled ng-selected="$parent.booking.serviceType == 5">{{ 'SERVICES.PLUMBER' | translate }}</option>
        <option value="6" disabled ng-selected="$parent.booking.serviceType == 6">{{ 'SERVICES.AIRCON_CLEANER' | translate }}
        </option>
        <option value="7" disabled ng-selected="$parent.booking.serviceType == 7">{{ 'SERVICES.HOUSE_FIXTURES_INSTALLER' |
            translate }}
        </option>
        <option value="8" disabled ng-selected="$parent.booking.serviceType == 8">{{ 'SERVICES.GARDENER' | translate }}</option>
        <option value="9" disabled ng-selected="$parent.booking.serviceType == 9">{{ 'SERVICES.HANDYMAN' | translate }}</option>
    </select>
    <label for="bkgloc" class="control-label">{{ 'WHERE' | translate }}</label>
    <select id="bkgloc" class="form-control" data-ng-model="$parent.booking.city">
        <option value="0" ng-selected="($parent.booking.city || 0) == 0">{{ 'PLEASE_SELECT' | translate }}</option>
        <option value="1" ng-selected="$parent.booking.city == 1">Cebu City</option>
        <option value="2" ng-selected="$parent.booking.city == 2">Mandaue</option>
        <option value="3" ng-selected="$parent.booking.city == 3">Lapu-lapu</option>
        <option value="4" ng-selected="$parent.booking.city == 4">Talisay</option>
        <option value="5" ng-selected="$parent.booking.city == 5">Manila-Pasay</option>
        <option value="6" ng-selected="$parent.booking.city == 6">Makati</option>
        <option value="7" ng-selected="$parent.booking.city == 7">Ortigas</option>
        <option value="8" ng-selected="$parent.booking.city == 8">Taguig</option>
        <option value="9" ng-selected="$parent.booking.city == 9">Tokyo</option>
        <option value="10" ng-selected="$parent.booking.city == 10">Seoul</option>
        <option value="11" ng-selected="$parent.booking.city == 11">Singapore</option>
    </select>
    <label for="dateinput" class="control-label">{{ 'DATE' | translate }}</label>
    <input type="date" id="dateinput" class="form-control" data-ng-model="$parent.booking.booking_date" min="{{ $parent.booking.allowed_start_date | date:'yyyy-MM-dd'}}"/>
    <label for="bkgtimestart" class="control-label">{{ 'PREFERRED_TIME' | translate }}</label>
    <select id="bkgtimestart" class="form-control" data-ng-model="$parent.booking.booking_time">
        <option value="" ng-selected="($parent.booking.booking_time || '')== ''">{{ 'PLEASE_SELECT' | translate }}
        </option>
        <option value="8AM" ng-selected="$parent.booking.booking_time == '8AM'">8AM</option>
        <option value="9AM" ng-selected="$parent.booking.booking_time == '9AM'">9AM</option>
        <option value="10AM" ng-selected="$parent.booking.booking_time == '10AM'">10AM</option>
        <option value="11AM" ng-selected="$parent.booking.booking_time == '11AM'">11AM</option>
        <option value="12PM" ng-selected="$parent.booking.booking_time == '12PM'">12PM</option>
        <option value="1PM" ng-selected="$parent.booking.booking_time == '1PM'">1PM</option>
        <option value="2PM" ng-selected="$parent.booking.booking_time == '2PM'">2PM</option>
        <option value="3PM" ng-selected="$parent.booking.booking_time == '3PM'">3PM</option>
        <option value="4PM" ng-selected="$parent.booking.booking_time == '4PM'">4PM</option>
        <option value="5PM" ng-selected="$parent.booking.booking_time == '5PM'">5PM</option>
        <option value="6PM" ng-selected="$parent.booking.booking_time == '6PM'">6PM</option>
        <option value="7PM" ng-selected="$parent.booking.booking_time == '7PM'">7PM</option>
    </select>
    <label for="bkgNoOfHrs" class="control-label">{{ 'NUMBER_OF_HOURS' | translate }}</label>
    <select id="bkgNoOfHrs" class="form-control" data-ng-model="$parent.booking.duration">
        <option value="" ng-selected="($parent.booking.duration || 0) == 0">{{ 'PLEASE_SELECT' | translate }}</option>
        <!--<option value="2" ng-selected="$parent.booking.duration == 2">2 {{ 'HOURS' | translate }}</option>-->
        <option value="4" ng-selected="$parent.booking.duration == 4">4 {{ 'HOURS' | translate }}</option>
        <!--<option value="6" ng-selected="$parent.booking.duration == 6">6 {{ 'HOURS' | translate }}</option>-->
        <option value="8" ng-selected="$parent.booking.duration == 8">8 {{ 'HOURS' | translate }}</option>
    </select>

    <div ng-show="createBookingPage">
        <div class="text-justified form-group">
            <label>
                <input type="checkbox" name="recurring" id="recurring" ng-model="$parent.booking.recurring"
                       ng-true-value="1" ng-false-value="0">&nbsp;{{
                'RECURRING_REQUEST' | translate }}</input>
            </label>

            <div ng-show="$parent.booking.recurring" class="frequency">
                <label for="frequency">{{ 'FREQUENCY' | translate }}</label>
                <select id="frequency" class="form-control" data-ng-model="$parent.booking.frequency" >
                    <option value="" ng-selected="($parent.booking.frequency || 0 )== 0">{{ 'PLEASE_SELECT' |
                        translate }}
                    </option>
                    <!--<option value="1" ng-selected="$parent.booking.booking_time == 1">Daily</option>-->
                    <option value="2" ng-selected="$parent.booking.frequency == 2">MWF</option>
                    <option value="3" ng-selected="$parent.booking.frequency == 3">TTH</option>
                    <option value="4" ng-selected="$parent.booking.frequency == 4">Weekly</option>
                    <option value="5" ng-selected="$parent.booking.frequency == 5">Fortnightly</option>
                    <option value="6" ng-selected="$parent.booking.frequency == 6">Monthly</option>
                </select>
                <label for="until">{{ 'UNTIL' | translate }}</label>
                <div id="until">
                    <!--<label>-->
                        <!--<input type="checkbox" name="forever" id="forever" ng-model="$parent.booking.frequency_forever"-->
                               <!--ng-true-value="1" ng-false-value="0">&nbsp;{{-->
                        <!--'CONTINUE_FOREVER' | translate }}</input>-->
                    <!--</label>-->
                    <input type="date" id="until_date" class="form-control" min="{{ $parent.booking.allowed_end_date | date:'yyyy-MM-dd'}}"
                           data-ng-model="$parent.booking.frequency_until_date"/>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="address1">{{ 'HOUSE_APT_BLDG_NO' | translate }}</label>
            <input type="text" id="address1" name="address1" class="form-control"
                   data-ng-model="$parent.booking.address.address1"
                   placeholder="{{ 'HOUSE_APT_BLDG_NO' | translate }}">
        </div>
        <div class="form-group">
            <label for="city">{{ 'CITY_TOWN' | translate }}</label>
            <select data-ng-model="$parent.booking.address.city" id="city"
                    class="form-control">
                <option value="0" ng-selected="($parent.booking.address.city || 0) == 0">{{ 'PLEASE_SELECT' | translate
                    }}
                </option>
                <option value="1" ng-selected="$parent.booking.address.city == 1">Cebu City</option>
                <option value="2" ng-selected="$parent.booking.address.city == 2">Mandaue</option>
                <option value="3" ng-selected="$parent.booking.address.city == 3">Lapu-lapu</option>
                <option value="4" ng-selected="$parent.booking.address.city == 4">Talisay</option>
                <option value="5" ng-selected="$parent.booking.address.city == 5">Manila-Pasay</option>
                <option value="6" ng-selected="$parent.booking.address.city == 6">Makati</option>
                <option value="7" ng-selected="$parent.booking.address.city == 7">Ortigas</option>
                <option value="8" ng-selected="$parent.booking.address.city == 8">Taguig</option>
                <option value="9" ng-selected="$parent.booking.address.city == 9">Tokyo</option>
                <option value="10" ng-selected="$parent.booking.address.city == 10">Seoul</option>
                <option value="11" ng-selected="$parent.booking.address.city == 11">Singapore</option>
            </select>
        </div>
        <div class="form-group">
            <label for="prov_state">{{ 'PROV_STATE' | translate }}</label>
            <select data-ng-model="$parent.booking.address.prov_state" id="prov_state"
                    class="form-control">
                <option value="" ng-selected="($parent.booking.address.prov_state || '') == ''">{{ 'PLEASE_SELECT' |
                    translate }}
                </option>
                <option value="1" ng-selected="$parent.booking.address.prov_state == 1">Cebu</option>
                <option value="2" ng-selected="$parent.booking.address.prov_state == 2">Manila</option>
                <option value="3" ng-selected="$parent.booking.address.prov_state == 3">Tokyo</option>
                <option value="4" ng-selected="$parent.booking.address.prov_state == 4">Hong Kong</option>
                <option value="5" ng-selected="$parent.booking.address.prov_state == 5">Singapore</option>
            </select>
        </div>
        <div class="form-group">
            <label for="zip_code">{{ 'ZIP_CODE' | translate }}</label>
            <input type="text" id="zip_code" name="zip_code" class="form-control"
                   data-ng-model="$parent.booking.address.zip_code"
                   placeholder="{{ 'ZIP_CODE' | translate }}">
        </div>
        <div class="form-group">
            <label for="country">{{ 'COUNTRY' | translate }}</label>
            <select data-ng-model="$parent.booking.address.country" id="country"
                    class="form-control">
                <option value="" ng-selected="($parent.booking.address.country || '') == ''">{{ 'PLEASE_SELECT' |
                    translate }}
                </option>
                <option value="1" ng-selected="$parent.booking.address.country == 1">Philippines</option>
                <option value="2" ng-selected="$parent.booking.address.country == 2">Japan</option>
                <option value="3" ng-selected="$parent.booking.address.country == 3">Korea</option>
                <option value="4" ng-selected="$parent.booking.address.country == 4">Hong Kong</option>
                <option value="5" ng-selected="$parent.booking.address.country == 5">Singapore</option>
            </select>
        </div>
        <div class="form-group">
            <label for="telephone">{{ 'TELEPHONE' | translate }}</label>
            <input type="text" id="telephone" name="telephone" class="form-control"
                   data-ng-model="$parent.booking.address.telephone"
                   placeholder="{{ 'TELEPHONE' | translate }}">
        </div>
        <div class="form-group">
            <label for="mobilephone">{{ 'MOBILEPHONE' | translate }}</label>
            <input type="text" id="mobilephone" name="mobilephone" class="form-control"
                   data-ng-model="$parent.booking.address.mobilephone"
                   placeholder="{{ 'MOBILEPHONE' | translate }}">
        </div>
    </div>
    <div class="booknowbutton text-center">
        <h4>{{ 'RECOMMEND_4HOURS' | translate }}</h4>
        <input type="submit" name="submitbooking" class="btn btn-color btn-lg btn-block"
               value="{{ (createBookingPage?'CONFIRM_BOOKING':'BOOK_NOW') | translate }}"/>
    </div>
</div>
