<div>
    <label for="bkgservtype" class="control-label">{{ 'SELECT_A_SERVICE' | translate }}</label>
    <primaryservice data-ng-model="$parent.booking.serviceType" id="bkgservtype"></primaryservice>

    <label for="bkgloc" class="control-label">{{ 'WHERE' | translate }}</label>
    <cities data-ng-model="$parent.booking.city" id="bkgloc"></cities>

    <label for="dateinput" class="control-label">{{ 'DATE' | translate }}</label>
    <input type="date" id="dateinput" class="form-control" data-ng-model="$parent.booking.booking_date" min="{{ $parent.booking.allowed_start_date | date:'yyyy-MM-dd'}}"/>

    <label for="bkgtimestart" class="control-label">{{ 'PREFERRED_TIME' | translate }}</label>
    <bookingtime ng-model="$parent.booking.booking_time" id="bkgtimestart" ></bookingtime>

    <label for="bkgNoOfHrs" class="control-label">{{ 'NUMBER_OF_HOURS' | translate }}</label>
    <duration ng-model="$parent.booking.duration" id="bkgNoOfHrs" ></duration>

    <div ng-show="createBookingPage">
        <div class="text-justified form-group">
            <label>
                <input type="checkbox" name="recurring" id="recurring" ng-model="$parent.booking.recurring"
                       ng-true-value="1" ng-false-value="0">&nbsp;{{
                'RECURRING_REQUEST' | translate }}</input>
            </label>

            <div ng-show="$parent.booking.recurring" class="frequency">
                <label for="frequency">{{ 'FREQUENCY' | translate }}</label>
                <frequency ng-model="$parent.booking.frequency" id="frequency"></frequency>
                <label for="until">{{ 'UNTIL' | translate }}</label>
                <div id="until">
                    <!--<label>-->
                        <!--<input type="checkbox" name="forever" id="forever" ng-model="$parent.booking.frequency_forever"-->
                               <!--ng-true-value="1" ng-false-value="0">&nbsp;{{-->
                        <!--'CONTINUE_FOREVER' | translate }}</input>-->
                    <!--</label>-->
                    <input type="date" id="until_date" class="form-control" min="{{ $parent.booking.allowed_end_date | date:'yyyy-MM-dd'}}"
                           data-ng-model="$parent.booking.frequency_until_date"/>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label for="address1">{{ 'HOUSE_APT_BLDG_NO' | translate }}</label>
            <input type="text" id="address1" name="address1" class="form-control"
                   data-ng-model="$parent.booking.address.address1"
                   placeholder="{{ 'HOUSE_APT_BLDG_NO' | translate }}">
        </div>
        <div class="form-group">
            <label for="city">{{ 'CITY_TOWN' | translate }}</label>
            <cities data-ng-model="$parent.booking.address.city" id="city"></cities>
        </div>
        <div class="form-group">
            <label for="prov_state">{{ 'PROV_STATE' | translate }}</label>
            <provstates data-ng-model="$parent.booking.address.prov_state" id="prov_state"></provstates>
        </div>
        <div class="form-group">
            <label for="zip_code">{{ 'ZIP_CODE' | translate }}</label>
            <input type="text" id="zip_code" name="zip_code" class="form-control"
                   data-ng-model="$parent.booking.address.zip_code"
                   placeholder="{{ 'ZIP_CODE' | translate }}">
        </div>
        <div class="form-group">
            <label for="country">{{ 'COUNTRY' | translate }}</label>
            <countries data-ng-model="$parent.booking.address.country" id="country"></countries>
        </div>
        <div class="form-group">
            <label for="telephone">{{ 'TELEPHONE' | translate }}</label>
            <input type="text" id="telephone" name="telephone" class="form-control"
                   data-ng-model="$parent.booking.address.telephone"
                   placeholder="{{ 'TELEPHONE' | translate }}">
        </div>
        <div class="form-group">
            <label for="mobilephone">{{ 'MOBILEPHONE' | translate }}</label>
            <input type="text" id="mobilephone" name="mobilephone" class="form-control"
                   data-ng-model="$parent.booking.address.mobilephone"
                   placeholder="{{ 'MOBILEPHONE' | translate }}">
        </div>
    </div>
    <div class="booknowbutton text-center">
        <h4>{{ 'RECOMMEND_4HOURS' | translate }}</h4>
        <input type="submit" name="submitbooking" class="btn btn-color btn-lg btn-block"
               value="{{ (createBookingPage?'CONFIRM_BOOKING':'BOOK_NOW') | translate }}"/>
    </div>
</div>
