<div class="row tp-banner-container" data-ng-controller="PasswordController">
  <div class="modal-dialog password-restore" data-ng-controller="PasswordController">
    <div class="modal-content">
      <div class="modal-header" >
        <h2 class="form-signin-heading modal-title" style="background-color: red">{{ 'PASSWORD_RESET_IS_INVALID' | translate }}</h2>
      </div>
      <div class="modal-body text-center">
          <fieldset>
            <a data-ui-sref="password.forgot" class="col-md-12">{{ 'ASK_NEW_PASSWORD' | translate }}</a>
          </fieldset>
      </div>
    </div>
  </div>
</div>
