<div class="row tp-banner-container" data-ng-controller="PasswordController">
  <div class="modal-dialog password-restore" data-ng-controller="PasswordController">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="form-signin-heading modal-title">{{ 'PASSWORD_SUCCESSFULLY_RESET' | translate }}</h2>
      </div>
      <div class="modal-body text-center">
        <fieldset>
          <a data-ui-sref="home" class="col-md-12">{{ 'CONTINUE_TO_HOME_PAGE' | translate }}</a>
        </fieldset>
      </div>
    </div>
  </div>
</div>
