<section class="row tp-banner-container" data-ng-controller="AuthenticationController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="form-signin-heading modal-title" id="registrationModalLabel">{{ 'SIGNIN_SOCIAL_ACCOUNT' | translate }}</h2>
                <img ng-click="callOauthProvider('/api/auth/facebook')"
                     ng-src="/modules/users/img/buttons/facebook.png">
            </div>
        </div>
    </div>
    <div ui-view></div>
</section>
