<div class="modal-dialog" data-ng-controller="AuthenticationController">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="form-signin-heading modal-title">Or sign up using your email</h2>
        </div>
        <form name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
            <div class="modal-body">
                <fieldset>
                    <!--<div data-ng-show="error" class="text-center text-danger">-->
                        <!--<strong data-ng-bind="error"></strong>-->
                    <!--</div>-->
                    <alert type="danger" data-ng-show="error" class="text-center text-danger">
                        <span data-ng-bind="error"></span>
                    </alert>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" required id="firstName" name="firstName" class="form-control"
                               data-ng-model="credentials.firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control"
                               data-ng-model="credentials.lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control"
                               data-ng-model="credentials.email"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control"
                               data-ng-model="credentials.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               data-ng-model="credentials.password" placeholder="Password">
                    </div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-color btn-lg">Sign up</button>
                        &nbsp; or&nbsp;
                        <a data-ui-sref="authentication.signin" class="show-signup">Sign in</a>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</div>
