<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="form-signin-heading modal-title">{{ 'OR_SIGN_UP_USING_UR_EMAIL' | translate }}</h2>
        </div>
        <div class="modal-body">
            <tabset justified="true">
                <tab heading="{{ 'CUSTOMER_SIGNUP' | translate }}">
                    <div class="tab-body">
                        <fieldset ng-form data-ng-controller="AuthenticationController" ng-init="setInitValues()">
                            <alert type="danger" data-ng-show="error" class="text-center text-danger">
                                <span>{{ error | translate }}</span>
                            </alert>
                              <div data-ng-include="'/modules/users/views/authentication/partials/customer.partial.html'"></div>
                            <hr/>
                              <div data-ng-include="'/modules/users/views/authentication/partials/address.phone.partial.html'"></div>
                            <hr/>
                            <div class="text-justified form-group">
                                <label><h4><input type="checkbox" name="agreeTerms" id="agreeTerms" ng-model="agreeTerms" ng-true-value="1" ng-false-value="0">&nbsp;{{ 'AGREE_TERM_OF_USE' | translate }}</input></h4></label>
                            </div>
                            <hr/>
                            <div class="text-center form-group">
                                <div vc-recaptcha id="recaptcha1"
                                    theme="'light'"
                                    key="captchaPublicKey"
                                    on-create="setWidgetId(widgetId)"
                                    on-success="setResponse(response)"
                                    on-expire="cbExpiration()"></div>
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-color btn-lg" ng-disabled="!agreeTerms" ng-click="signup()">{{ 'SIGN_UP' |
                                    translate }}
                                </button>
                                &nbsp; or&nbsp;
                                <a data-ui-sref="authentication.signin" class="show-signup">{{ 'SIGN_IN' | translate
                                    }}</a>
                            </div>
                        </fieldset>
                    </div>
                </tab>
                <tab heading="{{ 'SERVICE_PROVIDER_SIGNUP' | translate }}">
                    <div class="tab-body">
                        <fieldset ng-form data-ng-controller="AuthenticationController" ng-init="setInitValues('provider')">
                            <alert type="danger" data-ng-show="error" class="text-center text-danger">
                                <span>{{ error | translate }}</span>
                            </alert>
                            <div data-ng-include="'/modules/users/views/authentication/partials/customer.partial.html'"></div>
                            <hr/>
                            <div class="form-group">
                                <label for="primaryService">{{ 'MY_PRIMARY_SERVICE' | translate }}</label>
                                <select data-ng-model="credentials.primaryService" id="primaryService"
                                        class="form-control">
                                    <option value="0" selected>{{ 'PLEASE_SELECT' | translate }}</option>
                                    <option value="1">{{ 'SERVICES.HOUSE_CLEANER' | translate }}</option>
                                    <option value="2">{{ 'SERVICES.LAUNDRY_PRESS' | translate }}</option>
                                    <option value="3">{{ 'SERVICES.CARETAKER_OLDSITTER' | translate }}</option>
                                    <option value="4">{{ 'SERVICES.CARETAKER_BABYSITTER' | translate }}</option>
                                    <option value="5">{{ 'SERVICES.PLUMBER' | translate }}</option>
                                    <option value="6">{{ 'SERVICES.AIRCON_CLEANER' | translate }}</option>
                                    <option value="7">{{ 'SERVICES.HOUSE_FIXTURES_INSTALLER' | translate }}</option>
                                    <option value="8">{{ 'SERVICES.GARDENER' | translate }}</option>
                                    <option value="9">{{ 'SERVICES.HANDYMAN' | translate }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >{{ 'OTHER_SERVICES' | translate }}</label>
                                <div class="checkbox-services">
                                    <label class="checkbox" ng-repeat="service in services" for="{{service.id}}">
                                        <input  type="checkbox" ng-disabled="service.id == credentials.primaryService" ng-model="credentials.otherServices[service.id]" name="otherServices" id={{service.id}}" >
                                        {{ service.name | translate }}
                                    </label>
                                </div>
                            </div>
                            <hr/>
                            <div data-ng-include="'/modules/users/views/authentication/partials/address.phone.partial.html'"></div>
                            <hr/>
                            <div class="text-justified">
                                <label><h4><input type="checkbox" name="agreeTerms" id="agreeTerms" ng-model="agreeTerms" ng-true-value="1" ng-false-value="0">&nbsp;{{ 'AGREE_TERM_OF_USE' | translate }}</input></h4></label>
                            </div>
                            <hr/>
                            <div class="text-center form-group">
                                <div vc-recaptcha id="recaptcha2"
                                        theme="'light'"
                                        key="captchaPublicKey"
                                        on-create="setWidgetId(widgetId)"
                                        on-success="setResponse(response)"
                                        on-expire="cbExpiration()"></div>
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-color btn-lg" ng-disabled="!agreeTerms" ng-click="signup()" >{{ 'SIGN_UP' |
                                    translate }}
                                </button>
                                &nbsp; or&nbsp;
                                <a data-ui-sref="authentication.signin" class="show-signup">{{ 'SIGN_IN' | translate }}</a>
                            </div>
                        </fieldset>

                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
