<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="form-signin-heading modal-title">{{ 'OR_SIGN_UP_USING_UR_EMAIL' | translate }}</h2>
        </div>
        <div class="modal-body">
            <tabset justified="true">
                <tab heading="{{ 'CUSTOMER_SIGNUP' | translate }}">
                    <div class="tab-body">
                        <fieldset ng-form data-ng-controller="AuthenticationController">
                            <alert type="danger" data-ng-show="error" class="text-center text-danger">
                                <span data-ng-bind="error"></span>
                            </alert>
                            <div class="form-group">
                                <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
                                <input type="text" required id="firstName" name="firstName" class="form-control"
                                       data-ng-model="credentials.firstName"
                                       placeholder="{{ 'FIRST_NAME' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
                                <input type="text" id="lastName" name="lastName" class="form-control"
                                       data-ng-model="credentials.lastName"
                                       placeholder="{{ 'LAST_NAME' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="email">{{ 'EMAIL' | translate }}</label>
                                <input type="email" id="email" name="email" class="form-control"
                                       data-ng-model="credentials.email"
                                       placeholder="{{ 'EMAIL' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="username">{{ 'USER_NAME' | translate }}</label>
                                <input type="text" id="username" name="username" class="form-control"
                                       data-ng-model="credentials.username"
                                       placeholder="{{ 'USER_NAME' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'PASSWORD' | translate }}</label>
                                <input type="password" id="password" name="password" class="form-control"
                                       data-ng-model="credentials.password"
                                       placeholder="{{ 'PASSWORD' | translate }}">
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-color btn-lg" ng-click="signup()">{{ 'SIGN_UP' |
                                    translate }}
                                </button>
                                &nbsp; or&nbsp;
                                <a data-ui-sref="authentication.signin" class="show-signup">{{ 'SIGN_IN' | translate
                                    }}</a>
                            </div>
                        </fieldset>
                    </div>
                </tab>
                <tab heading="{{ 'SERVICE_PROVIDER_SIGNUP' | translate }}">
                    <div class="tab-body">
                        <fieldset ng-form data-ng-controller="AuthenticationController" ng-init="setInitValues()">
                            <alert type="danger" data-ng-show="error" class="text-center text-danger">
                                <span data-ng-bind="error"></span>
                            </alert>
                            <div class="form-group">
                                <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
                                <input type="text" required id="firstName" name="firstName" class="form-control"
                                       data-ng-model="credentials.firstName"
                                       placeholder="{{ 'FIRST_NAME' | translate }}" ng-required >
                            </div>
                            <div class="form-group">
                                <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
                                <input type="text" id="lastName" name="lastName" class="form-control"
                                       data-ng-model="credentials.lastName"
                                       placeholder="{{ 'LAST_NAME' | translate }}" ng-required>
                            </div>
                            <div class="form-group">
                                <label for="email">{{ 'EMAIL' | translate }}</label>
                                <input type="email" id="email" name="email" class="form-control"
                                       data-ng-model="credentials.email"
                                       placeholder="{{ 'EMAIL' | translate }}" ng-required>
                            </div>
                            <div class="form-group">
                                <label for="username">{{ 'USER_NAME' | translate }}</label>
                                <input type="text" id="username" name="username" class="form-control"
                                       data-ng-model="credentials.username"
                                       placeholder="{{ 'USER_NAME' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="password">{{ 'PASSWORD' | translate }}</label>
                                <input type="password" id="password" name="password" class="form-control"
                                       data-ng-model="credentials.password"
                                       placeholder="{{ 'PASSWORD' | translate }}">
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label for="primaryService">{{ 'MY_PRIMARY_SERVICE' | translate }}</label>
                                <select data-ng-model="credentials.primaryService" id="primaryService"
                                        class="form-control">
                                    <option selected>{{ 'PLEASE_SELECT' | translate }}</option>
                                    <option value="1">{{ 'SERVICES.HOUSE_CLEANER' | translate }}</option>
                                    <option value="2">{{ 'SERVICES.LAUNDRY_PRESS' | translate }}</option>
                                    <option value="3">{{ 'SERVICES.CARETAKER_OLDSITTER' | translate }}</option>
                                    <option value="4">{{ 'SERVICES.CARETAKER_BABYSITTER' | translate }}</option>
                                    <option value="5">{{ 'SERVICES.PLUMBER' | translate }}</option>
                                    <option value="6">{{ 'SERVICES.AIRCON_CLEANER' | translate }}</option>
                                    <option value="7">{{ 'SERVICES.HOUSE_FIXTURES_INSTALLER' | translate }}</option>
                                    <option value="8">{{ 'SERVICES.GARDENER' | translate }}</option>
                                    <option value="9">{{ 'SERVICES.HANDYMAN' | translate }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="secondaryService">{{ 'MY_SECONDARY_SERVICE' | translate }}</label>
                                <select data-ng-model="credentials.secondaryService" id="secondaryService"
                                        class="form-control">
                                    <option selected>{{ 'PLEASE_SELECT' | translate }}</option>
                                    <option value="1">{{ 'SERVICES.HOUSE_CLEANER' | translate }}</option>
                                    <option value="2">{{ 'SERVICES.LAUNDRY_PRESS' | translate }}</option>
                                    <option value="3">{{ 'SERVICES.CARETAKER_OLDSITTER' | translate }}</option>
                                    <option value="4">{{ 'SERVICES.CARETAKER_BABYSITTER' | translate }}</option>
                                    <option value="5">{{ 'SERVICES.PLUMBER' | translate }}</option>
                                    <option value="6">{{ 'SERVICES.AIRCON_CLEANER' | translate }}</option>
                                    <option value="7">{{ 'SERVICES.HOUSE_FIXTURES_INSTALLER' | translate }}</option>
                                    <option value="8">{{ 'SERVICES.GARDENER' | translate }}</option>
                                    <option value="9">{{ 'SERVICES.HANDYMAN' | translate }}</option>
                                </select>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label for="address1">{{ 'HOUSE_APT_BLDG_NO' | translate }}</label>
                                <input type="text" id="address1" name="address1" class="form-control"
                                       data-ng-model="credentials.address.address1"
                                       placeholder="{{ 'HOUSE_APT_BLDG_NO' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="city">{{ 'CITY_TOWN' | translate }}</label>
                                <select data-ng-model="credentials.address.city" id="city"
                                        class="form-control">
                                    <option selected>{{ 'PLEASE_SELECT' | translate }}</option>
                                    <option value="1">Cebu City</option>
                                    <option value="2">Mandaue</option>
                                    <option value="3">Lapu-lapu</option>
                                    <option value="4">Talisay</option>
                                    <option value="5">Manila-Pasay</option>
                                    <option value="6">Makati</option>
                                    <option value="7">Ortigas</option>
                                    <option value="8">Taguig</option>
                                    <option value="9">Tokyo</option>
                                    <option value="10">Seoul</option>
                                    <option value="10">Singapore</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="prov_state">{{ 'PROV_STATE' | translate }}</label>
                                <select data-ng-model="credentials.address.prov_state" id="prov_state"
                                        class="form-control">
                                    <option selected>{{ 'PLEASE_SELECT' | translate }}</option>
                                    <option value="1">Cebu</option>
                                    <option value="2">Manila</option>
                                    <option value="3">Tokyo</option>
                                    <option value="4">Seoul</option>
                                    <option value="5">Hong Kong</option>
                                    <option value="6">Singapore</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="zip_code">{{ 'ZIP_CODE' | translate }}</label>
                                <input type="text" id="zip_code" name="zip_code" class="form-control"
                                       data-ng-model="credentials.address.zip_code"
                                       placeholder="{{ 'ZIP_CODE' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="country">{{ 'COUNTRY' | translate }}</label>
                                <select data-ng-model="credentials.address.country" id="country"
                                        class="form-control">
                                    <option selected>{{ 'PLEASE_SELECT' | translate }}</option>
                                    <option value="1">Philippines</option>
                                    <option value="2">Japan</option>
                                    <option value="3">Korea</option>
                                    <option value="5">Hong Kong</option>
                                    <option value="6">Singapore</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="telephone">{{ 'TELEPHONE' | translate }}</label>
                                <input type="text" id="telephone" name="telephone" class="form-control"
                                       data-ng-model="credentials.address.telephone"
                                       placeholder="{{ 'TELEPHONE' | translate }}">
                            </div>
                            <div class="form-group">
                                <label for="mobilephone">{{ 'MOBILEPHONE' | translate }}</label>
                                <input type="text" id="mobilephone" name="mobilephone" class="form-control"
                                       data-ng-model="credentials.address.mobilephone"
                                       placeholder="{{ 'MOBILEPHONE' | translate }}">
                            </div>
                            <hr/>
                            <div class="text-justified">
                                <h4><input type="checkbox" name="agreeTerms" id="agreeTerms" ng-model="credentials.agreeTerms" ng-true-value="1" ng-false-value="0">&nbsp;{{ 'AGREE_TERM_OF_USE' | translate }}</input></h4>
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-color btn-lg" ng-disabled="!credentials.agreeTerms" ng-click="signup()" >{{ 'SIGN_UP' |
                                    translate }}
                                </button>
                                &nbsp; or&nbsp;
                                <a data-ui-sref="authentication.signin" class="show-signup">{{ 'SIGN_IN' | translate }}</a>
                            </div>
                        </fieldset>

                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
