/*=======================================================
INDEX CSS IS HOMEPAGE CSS
========================================================*/
/*=======================================================
RESPONSIVE: MEDIA QUERY FOR DESKTOP
========================================================*/
@media screen and (min-width: 901px){

    .titleband{
        height: 120px;
        background-color: #f5f5f5;
    }
    .titleband h1 a{
        font: 400 48px 'Cinzel';
        padding-top: 35px;
        padding-left: 35px;
        padding-bottom: 12px;
        color: #020202;
        text-decoration: none;
        float: left;
    }
    .titleband h1 span{
        color: #fe0012;
    }
    .titleband h1 sup{
        float: left;
        margin-top: 40px;
        padding-left: 10px;
        color: red;
        font-size: 20px;
        font-style: italic;
    }
    #signin h2 a{
        font: 400 30px 'Source Sans Pro';
        color: #000000;
        float: right;
        margin: 20px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        border: 2px solid black;
    }
    #signin h2 a:hover{
        background-color: #ffd175;
        text-decoration: underline;
    }
    #signup h2 a{
        font: 400 30px 'Source Sans Pro';
        color: #000000;
        float: right;
        padding-top: 40px;
        padding-right: 10px;
        text-decoration: none;
    }
    #signup h2 a:hover{
        text-decoration: underline;
    }
    #signup h2 span{
        color: red;
    }
    /*=======================================================
    BOOKING FORM
    ========================================================*/
    .mainbody form{
        position: absolute;
        top: 200px;
        left: 40px;
        max-height: 440px;
        height: auto;
        max-width: 390px;
        width: auto;
        padding: 20px;
        border: 1px solid #000;
        background-color: #fff;
        z-index: 3;
    }
    form label{
        font: 400 24px 'Source Sans Pro';
        margin-left: 10px;
    }
    form h6{
        font: 400 14px 'Source Sans Pro';
        width: 100%;
        text-align: center;
    }
    form select{
        height: 40px;
        width: 320px;
        border: 1px solid lightgray;
        border-radius: 2px;
        font: 400 20px 'Source Sans Pro';
        margin-bottom: 20px;
        margin-left: 10px;
    }
    form input{
        height: 40px;
        width: 316px;
        border: 1px solid lightgray;
        border-radius: 2px;
        font: 400 20px 'Source Sans Pro';
        margin-bottom: 20px;
        margin-left: 10px;
    }
    form .booknowbutton input{
        font: 400 30px 'Source Sans Pro';
        background-color: #ffd175;
        border-width: medium;
        padding: auto;
        height: 60px;
    }
    form .booknowbutton input:hover{
        text-decoration: underline;
    }
    /*=======================================================
    MAINBODY
    ========================================================*/
    .mainbody{
        margin: 0 auto;
        width: 100%;
        top: 180px;
        left: 0;
        clear: both;
    }
    .mainbody .maingraphic{
        background-color: #ffd175;
        height: 440px;
        max-width: 100%;
    }
    .mainbody .maingraphic img{
        height: 400px;
        width: 50%;
        float: right;
        padding: 20px 20px 20px 0;
        overflow-x: hidden;
        z-index: 2;
    }
    #faqband{
        height: 80px;
        background-color: #f5f5f5;
    }
    #faqband h2 a{
        float: right;
        text-decoration: none;
        color: black;
        font: 400 28px 'Source Sans Pro';
        margin-right: 20px;
        padding: 20px 0;
    }
    #faqband h2 a:hover{
        text-decoration: underline;
    }
    #socialmediaband ul{
        background-color: #103c21;
        height: 60px;
        clear: both;
    }
    #socialmediaband li a{
        float: right;
        margin-right: 20px;
        padding: 10px 5px;
    }
    .mainbody .serviceband1 ul{
        background-color: #f5f5f5;
        height: 60px;
        clear: both;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainbody .serviceband1 li{
        font: 400 20px 'Source Sans Pro';
        float: left;
        padding: 5px 10px;
    }
    @media screen and (max-width: 1100px){
        .mainbody .serviceband1 li{
            font-size: 18px;
        }
    }
    @media screen and (max-width: 900px){
        .mainbody .serviceband1 li{
            font-size: 14px;
        }
    }
    .mainbody .serviceband1 li a{
        color: black;
        text-decoration: none;
    }
    .mainbody .serviceband1 li a:hover{
        background-color: #ffd175;
        text-decoration: underline;
    }
    .stepstitle{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .stepstitle h1{
        font: 400 48px 'Cinzel';
        padding-top: 35px;
        padding-bottom: 12px;
        color: #020202;
        float: left;
    }
    .stepstitle h1 span{
        color: #fe0012;
    }
    @media screen and (max-width: 1100px){
        .stepstitle h1{
            font-size: 40px;
        }
    }
    @media screen and (max-width: 900px){
        .stepstitle h1{
            font-size: 36px;
        }
    }
    .steps123{
        clear: both;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .steps123 .step{
        height: 180px;
        width: 220px;
        float: left;
    }
    .steps123 .arrow{
        padding: 50px;
        float: left;
    }
    .steps123 .step img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .steps123 .step p{
        font: 400 18px 'Source Sans Pro';
        text-align: center;
    }
    .maingraphic2 img{
        width: 100%;
        margin-top: 60px;
        margin-bottom: -5px;
    }
    .mainbody .serviceband2 ul{
        background-color: #f5f5f5;
        height: 60px;
        clear: both;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mainbody .serviceband2 li{
        font: 400 20px 'Source Sans Pro';
        float: left;
        padding: 5px 10px;
    }
    @media screen and (max-width: 1100px){
        .mainbody .serviceband2 li{
            font-size: 18px;
        }
    }
    @media screen and (max-width: 900px){
        .mainbody .serviceband2 li{
            font-size: 14px;
        }
    }
    .mainbody .serviceband2 li a{
        color: black;
        text-decoration: none;
    }
    .mainbody .serviceband2 li a:hover{
        background-color: #ffd175;
        text-decoration: underline;
    }
    .subbodycontent{
    }
    .subbodyheadline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 40px;
    }
    .subbodyheadline h2{
        height: 100%;
        font: 400 40px 'Source Sans Pro';
        text-align: center;
    }
    .subcontent{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contentbox{
        width: 320px;
        height: 300px;
        padding: 10px;
        margin: auto 10px;
        border-color: #e0e0e0;
        border-style: solid;
        border-width: 1px;
    }
    .contentbox img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contentbox h3{
        font: 400 24px 'Source Sans Pro';
        text-align: center;
    }
    .contentbox p{
        text-align: justify;
        margin-top: 10px;
    }
    #appslinks{
        margin-top: 50px;
    }
    #appslinks h3{
        font: 400 30px 'Source Sans Pro';
        text-align: center;
    }
    #appslinks h4{
        font: 400 26px 'Source Sans Pro';
        text-align: center;
        margin-bottom: 30px;
    }
    #appslinks ul{
        clear: both;
        display: -webkit-flex;
        justify-content: center;
    }
    #appslinks li{
        float: left;
        padding: 20px;
        margin-bottom: 30px;
    }

}

/*=======================================================
RESPONSIVE: MEDIA QUERY FOR SMARTPHONE
========================================================*/
@media screen and (max-width: 480px){

    .titleband{
        height: auto;
        background-color: #f5f5f5;
    }
    .titleband h1{
        font: 400 48px 'Cinzel';
        color: #020202;
        margin-left: 30px;
        text-decoration: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .titleband h1 a{
        text-decoration: none;
        color: black;
    }
    .titleband h1 span{
        color: #fe0012;
    }
    .titleband h1 sup{
        display: none;
    }
    #signin h2 a{
        display: none;
    }
    #signup h2 a{
        display: none;
    }
    /*=======================================================
    BOOKING FORM
    ========================================================*/
    .mainbody form{
        position: absolute;
        top: 170px;
        width: 80%;
        min-width: 390px;
        padding: 20px;
        border: 1px solid #000;
        background-color: #fff;
        margin-left: 6%;
    }
    form label{
        font: 400 24px 'Source Sans Pro';
        margin-left: 10px;
    }
    form h6{
        font: 400 14px 'Source Sans Pro';
        width: 100%;
        text-align: center;
    }
    form select{
        height: 60px;
        width: 360px;
        border: 1px solid lightgray;
        border-radius: 2px;
        font: 400 20px 'Source Sans Pro';
        margin-bottom: 20px;
        margin-left: 10px;
    }
    form input{
        height: 58px;
        width: 358px;
        border: 1px solid lightgray;
        border-radius: 2px;
        font: 400 20px 'Source Sans Pro';
        margin-bottom: 20px;
        margin-left: 10px;
    }
    input[type="date"]{
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }
    form .booknowbutton input{
        font: 400 30px 'Source Sans Pro';
        background-color: #ffd175;
        border-width: medium;
        padding: auto;
        height: 60px;
    }
    form .booknowbutton a{
        text-decoration: none;
    }
    form .booknowbutton input:hover{
        text-decoration: underline;
    }
    /*=======================================================
    MAINBODY
    ========================================================*/
    .mainbody{
        width: 100%;
        top: 180px;
        clear: both;
    }
    .mainbody .maingraphic{
        background-color: #ffd175;
        height: 570px;
    }
    .mainbody .maingraphic img{
        display: none;
    }
    #faqband{
        height: 60px;
        background-color: #f5f5f5;
        text-align: left;
        padding-top: 30px;
    }
    #faqband h2 a{
        text-decoration: none;
        color: black;
        font: 400 28px 'Source Sans Pro';
        margin-left: 30px;
    }
    #faqband h2 a:hover{
        text-decoration: underline;
    }
    #socialmediaband ul{
        background-color: #103c21;
        height: 60px;
        clear: both;
    }
    #socialmediaband li a{
        float: right;
        margin-right: 40px;
        padding: 10px 5px;
    }
    .mainbody .serviceband1 ul{
        display: none;
    }
    .stepstitle{
        height: 100%;
    }
    .stepstitle h1{
        width: 100%;
        font: 24px 'Cinzel';
        padding-top: 35px;
        padding-bottom: 12px;
        color: #020202;
        text-align: center;
    }
    .stepstitle h1 span{
        color: #fe0012;
    }
    .steps123{
        clear: both;
        height: 100%;
        display: flex;
        margin-left: 20px;
    }
    .steps123 .step{
        height: 180px;
        width: 30%;
        float: left;
    }
    .steps123 .arrow{
        display: none;
    }
    .steps123 .step img{
        -webkit-transform: scale(0.5);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .steps123 .step p{
        font: 400 12px 'Source Sans Pro';
        text-align: center;
        padding: 0 10px;
    }
    .maingraphic2 img{
        width: 100%;
        margin-top: 60px;
        margin-bottom: -5px;
    }
    .mainbody .serviceband2 ul{
        display: none;
    }
    .subbodycontent{
        height: auto;
    }
    .subbodyheadline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 40px;
        margin-left: -5px;
    }
    .subbodyheadline h2{
        height: 100%;
        font: 400 24px 'Source Sans Pro';
        text-align: center;
    }
    .subcontent{
    }
    .contentbox{
        width: 80%;
        margin-left: 30px;
        height: 280px;
        padding: 10px;
        border-color: #e0e0e0;
        border-style:dotted;
        border-width: 1px;
    }
    .contentbox img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contentbox h3{
        font: 400 24px 'Source Sans Pro';
        text-align: center;
    }
    .contentbox p{
        text-align: justify;
        margin-top: 10px;
    }
    #appslinks{
        margin-top: 30px;
    }
    #appslinks h3{
        font: 400 18px 'Source Sans Pro';
        text-align: center;
    }
    #appslinks h4{
        font: 400 16px 'Source Sans Pro';
        text-align: center;
        margin-bottom: 30px;
    }
    #appslinks ul{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
    }
    #appslinks li{
        padding: 10px;
        margin-bottom: 10px;
        -webkit-transform: scale(0.8);
    }

}
/*=======================================================
RESPONSIVE: MEDIA QUERY FOR LANDSCAPE PHABLET & TABLET
========================================================*/
@media screen and (min-width: 481px) and (max-width: 900px){

    .titleband{
        height: auto;
        background-color: #f5f5f5;
    }
    .titleband h1{
        font: 400 48px 'Cinzel';
        color: #020202;
        margin-left: 30px;
        text-decoration: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .titleband h1 a{
        text-decoration: none;
        color: black;
    }
    .titleband h1 span{
        color: #fe0012;
    }
    .titleband h1 sup{
        display: none;
    }
    #signin h2 a{
        display: none;
    }
    #signup h2 a{
        display: none;
    }
    /*=======================================================
    BOOKING FORM
    ========================================================*/
    .mainbody form{
        position: absolute;
        top: 170px;
        width: 80%;
        min-width: 390px;
        padding: 20px;
        border: 1px solid #000;
        background-color: #fff;
        margin-left: 6%;
    }
    form label{
        font: 400 24px 'Source Sans Pro';
        margin-left: 10px;
    }
    form h6{
        font: 400 14px 'Source Sans Pro';
        width: 100%;
        text-align: left;
        margin-left: 60px;
    }
    form select{
        height: 60px;
        width: 360px;
        border: 1px solid lightgray;
        border-radius: 2px;
        font: 400 20px 'Source Sans Pro';
        margin-bottom: 20px;
        margin-left: 10px;
    }
    form input{
        height: 58px;
        width: 358px;
        border: 1px solid lightgray;
        border-radius: 2px;
        font: 400 20px 'Source Sans Pro';
        margin-bottom: 20px;
        margin-left: 10px;
    }
    input[type="date"]{
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }
    form .booknowbutton input{
        font: 400 30px 'Source Sans Pro';
        background-color: #ffd175;
        border-width: medium;
        padding: auto;
        height: 60px;
    }
    form .booknowbutton a{
        text-decoration: none;
    }
    form .booknowbutton input:hover{
        text-decoration: underline;
    }
    /*=======================================================
    MAINBODY
    ========================================================*/
    .mainbody{
        width: 100%;
        top: 180px;
        clear: both;
    }
    .mainbody .maingraphic{
        background-color: #ffd175;
        height: 570px;
    }
    .mainbody .maingraphic img{
        display: none;
    }
    #faqband{
        height: 60px;
        background-color: #f5f5f5;
        text-align: left;
        padding-top: 30px;
    }
    #faqband h2 a{
        text-decoration: none;
        color: black;
        font: 400 28px 'Source Sans Pro';
        margin-left: 30px;
    }
    #faqband h2 a:hover{
        text-decoration: underline;
    }
    #socialmediaband ul{
        background-color: #103c21;
        height: 60px;
        clear: both;
    }
    #socialmediaband li a{
        float: right;
        margin-right: 40px;
        padding: 10px 5px;
    }
    .mainbody .serviceband1 ul{
        display: none;
    }
    .stepstitle{
        height: 100%;
    }
    .stepstitle h1{
        width: 100%;
        font: 24px 'Cinzel';
        padding-top: 35px;
        padding-bottom: 12px;
        color: #020202;
        text-align: center;
    }
    .stepstitle h1 span{
        color: #fe0012;
    }
    .steps123{
        clear: both;
        height: 100%;
        display: flex;
        margin-left: 20px;
    }
    .steps123 .step{
        height: 180px;
        width: 30%;
        float: left;
    }
    .steps123 .arrow{
        display: none;
    }
    .steps123 .step img{
        -webkit-transform: scale(0.5);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .steps123 .step p{
        font: 400 12px 'Source Sans Pro';
        text-align: center;
        padding: 0 10px;
    }
    .maingraphic2 img{
        width: 100%;
        margin-top: 60px;
        margin-bottom: -5px;
    }
    .mainbody .serviceband2 ul{
        display: none;
    }
    .subbodycontent{
        height: auto;
    }
    .subbodyheadline{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin: 40px;
        margin-left: -5px;
    }
    .subbodyheadline h2{
        height: 100%;
        font: 400 24px 'Source Sans Pro';
        text-align: center;
    }
    .subcontent{
    }
    .contentbox{
        width: 80%;
        margin-left: 30px;
        height: 280px;
        padding: 10px;
        border-color: #e0e0e0;
        border-style:dotted;
        border-width: 1px;
    }
    .contentbox img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contentbox h3{
        font: 400 24px 'Source Sans Pro';
        text-align: center;
    }
    .contentbox p{
        text-align: justify;
        margin-top: 10px;
    }
    #appslinks{
        margin-top: 30px;
    }
    #appslinks h3{
        font: 400 18px 'Source Sans Pro';
        text-align: center;
    }
    #appslinks h4{
        font: 400 16px 'Source Sans Pro';
        text-align: center;
        margin-bottom: 30px;
    }
    #appslinks ul{
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
    }
    #appslinks li{
        padding: 10px;
        margin-bottom: 10px;
        -webkit-transform: scale(0.8);
    }

}
/*=======================================================
END OF HOMEPAGE CSS
========================================================*/
